<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <div>
                {%for p1 in posts%}
                <article>
                    <time>Published Date: {{p1.published_date}}</time>
                    <h2><a href="">{{p1.title}}</a></h2>
                    <p>{{p1.text|linebreaksbr}}</p>
                </article>
                {%endfor%}
            </div>
        </article>
    </body>
</html>